@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background: white;
    color: #222;
}

nav {
    font-family: "Noto Sans", sans-serif;
    font-weight: 900;
    display: flex;
    font-size: 20px;
    background: rgb(224, 209, 245);
    color: black;
    padding: 23px;
}

nav li a {
    text-decoration: none;
    color: rgb(2, 3, 18);
    transition: all;
    transition-duration: 500ms;
}

nav li a:hover {
    text-decoration: none;
    color: rgb(249, 247, 252);
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 23px;
    font-size: 24px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

.container {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    max-width: 80vw;
    margin: auto;

}

.container h1,
h2 {
    text-align: center;
    margin: 23px 0;
}

.container form input[type='number'],
select,
label {
    font-size: 25px;
    width: 23vw;
    margin-bottom: 23px;
    cursor: pointer;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container form label {
    font-size: 25px;

}
.output{
    display: none;
}

.btn {
    background: rgb(233, 86, 233);
    padding: 5px 8px;
    width: 134px;
    border-radius: 20px;
    border: 2px solid red;
    color: white;
    font-size: 23px;
    cursor: pointer;
}

.output table {
    width: 50vw;
    text-align: center;
    border: 2px solid black;
    font-size: 20px;
}
.output table th{
    padding: 23px ;
}

footer {
    text-align: center;
      font-family: 'Poppins', sans-serif;
}
@media (max-width:600px){
 
    nav{
        flex-direction: column;
        font-size: 14px;
    }
    nav ul li{
        margin:  13px;
    }
    nav li{
        justify-content: center;
    }
    .container{
        max-width: 95vw;
    }
    .container form input[type='number'],
select,
label{
    width: 80vw;
}
}